/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo da página */
body {
    background: linear-gradient(to bottom, #242020, #665b5b);
    color: white;
    height: 350vh;
    padding-top: 80px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 20px;
    background: transparent;
    transition: background 0.5s ease-in-out;
    z-index: 1000;
}

/* Menu */
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #ffcc00;
}

/* Botão Hambúrguer */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

/* Responsividade */
@media (max-width: 1200px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px 0;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* Efeito no Scroll */
.header.scrolled {
    background: rgba(34, 29, 29, 0.8);
}

.header-panel {
    width: 200px;
    height: 300px;
    background-color: silver;
    position: absolute;
    top: -5px;
    left: 220px;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.8s ease-out;
}

.header-panel.show {
    transform: translate(-50%, 0);
    opacity: 1;
}

@media (max-width: 1200px) {
    .header-panel {
        display: none; 
    }
}

/* Conteúdo longo para testar o scroll */
.long-content {
    flex-grow: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos do rodapé */
.footer {
    background-color: #222;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
}

.footer-links li a {
    margin: 0 15px;
}

/* Contêiner geral do campo de pesquisa */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

/* Contêiner do campo de pesquisa */
.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50px;
}

/* Campo de texto */
.search-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #333;
    outline: none;
}

/* Foco no campo de texto */
.search-input:focus {
    border: 2px solid #ffffff;
    /* Cor de destaque */
}

/* Contêiner do ícone da lupa */
.search-icon-container {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Estilo do botão (ícone da lupa) */
.search-button-icon {
    background-color: #98e210;
    /* Cor verde */
    border: none;
    padding: 8px;
    /* Ajuste o valor conforme necessário para o tamanho da bola */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* Tornar o fundo circular */
}

/* Ícone da lupa */
.search-button-icon svg {
    width: 16px;
    /* Ajuste o tamanho do ícone */
    height: 16px;
    /* Ajuste o tamanho do ícone */
    fill: white;
    /* Cor do ícone (branca) */
}

.search-button-icon:hover svg {
    fill: #1392e7;
}

.fixed-logo {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 55px;
    right: 55px;
    z-index: 100;
}

.scrolling-logo {
    width: 170px;
    height: 170px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}

@media (max-width: 1200px) {
    .fixed-logo {
        width: 95px;
        height: 95px;
        position: fixed;
        bottom: 48px;
        right: 48px;
        z-index: 100;
    }
}

@media (max-width: 1200px) {
    .scrolling-logo {
        width: 130px;
        height: 130px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 99;
    }
}


.foto-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.swiper-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.parallax {
    background-image: url('https://images.unsplash.com/photo-1603348708701-9ef0c4f773da?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 18vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content02 {
    margin-top: 200px;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}

/* Painel Par */
.panelPar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 15px;
    margin: 5px auto;
    margin-right: 180px;
    width: 40%;
    transform: translateX(150px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    flex-direction: row-reverse;
}

.panelPar img {
    width: 340px;
    height: auto;
    border-radius: 15px;
    margin-top: 150px;
}

.panelPar.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Painel Impar */
.panelImpar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 15px;
    margin: 5px auto;
    margin-left: 180px;
    width: 40%;
    transform: translateX(-150px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.panelImpar img {
    width: 340px;
    height: auto;
    border-radius: 15px;
    margin-top: 150px;
}

.panelImpar.visible {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1200px) {
    .panelPar {
        flex-direction: column; /* Coloca o conteúdo em coluna */
        width: 90%; /* Reduz a largura do painel */
        transform: translateX(0); /* Remove o deslocamento */
        margin-top: 20px; /* Ajusta a margem superior */
    }

    .panelPar img {
        width: 80%; /* Ajusta a largura da imagem para caber na tela */
        margin-top: 20px; /* Diminui a margem superior da imagem */
    }

    .panelPar .text {
        margin-left: 0; /* Remove a margem à esquerda do texto */
        text-align: center; /* Centraliza o texto */
    }
}

@media (max-width: 1200px) {
    .panelImpar {
        flex-direction: column; /* Coloca o conteúdo em coluna */
        width: 90%; /* Reduz a largura do painel */
        transform: translateX(0); /* Remove o deslocamento */
        margin-top: 20px; /* Ajusta a margem superior */
    }

    .panelImpar img {
        width: 80%; /* Ajusta a largura da imagem para caber na tela */
        margin-top: 20px; /* Diminui a margem superior da imagem */
    }

    .panelImpar .text {
        margin-left: 0; /* Remove a margem à esquerda do texto */
        text-align: center; /* Centraliza o texto */
    }
}