/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#bg-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.folhas {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 99.4vw;
    height: 30vw;
    backdrop-filter: blur(4px);
    background-color: rgb(255, 255, 255);
    background-image: url('../Images/arvore01.png');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2.5vw;
    text-align: center;
    font-size: 1vw;
    z-index: -5000;
}

.back02 {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.055);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    width: 99.45vw;
    height: 30vw;
    z-index: -4999;
    left: -10vw;
}

@media (max-width: 900px) {
    #bg-video {
        display: none;
    }
}

@font-face {
    font-family: "Eurostile";
    src: url('../fonts/14511.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url('../fonts/Merriweather.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    background-size: contain;
    background-image: url('../Images/arvore02.png');
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 0 auto;
    z-index: -100;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 20px;
    background: transparent;
    transition: background 0.5s ease-in-out;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #52a4ca;
}

.menu-toggle {
    display: none;
    font-size: 8vw;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20%;
}

@media (max-width: 1200px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: transparent;
        padding: 10px 0;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
        background-color: #00000085;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* Efeito no Scroll */
.header.scrolled {
    background: rgba(34, 29, 29, 0.8);
}

@media (max-width: 1200px) {
    .header.scrolled {
        background-color: transparent;
    }
}

.footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98.9vw;
    height: 8vw;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2.5vw;
    text-align: center;
    font-size: 1vw;
    overflow: hidden;
    z-index: 1;
}

.footer .back03 {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 98.9vw;
    height: 100%;
    z-index: 2;
}

.footer p {
    position: relative;
    z-index: 3;
    margin: 0;
    margin-top: 1.1vw;
}

.fixed-logo {
    width: 7.05vw;
    height: 7.05vw;
    position: fixed;
    bottom: 2.5vw;
    right: 2.5vw;
    z-index: 100;
    cursor: pointer;
}

.scrolling-logo {
    width: 9vw;
    height: 9vw;
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    z-index: 99;
}

@media (max-width: 1200px) {
    .fixed-logo {
        width: 13vw;
        height: 13vw;
        position: fixed;
        bottom: 3.5vw;
        right: 3.5vw;
        z-index: 100;
    }

    .scrolling-logo {
        width: 17vw;
        height: 17vw;
        position: fixed;
        bottom: 1.5vw;
        right: 1.5vw;
        z-index: 99;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .fixed-logo {
        width: 8.6vw;
        height: 8.6vw;
        position: fixed;
        bottom: 2.7vw;
        right: 2.7vw;
        z-index: 100;
    }

    .scrolling-logo {
        width: 11vw;
        height: 11vw;
        position: fixed;
        bottom: 1.5vw;
        right: 1.5vw;
        z-index: 99;
    }
}

.swiper-container {
    position: absolute;
    width: 75vw;
    overflow: hidden;
    margin-left: 2.41vw;
    margin-top: 3vw;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 255, 255);
    width: 50vw;
    height: 50vw;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 10;
}

.swiper-button-next {
    right: 10vw;
}

.swiper-button-prev {
    left: 10vw;
}

@media (max-width: 900px) {
    .swiper-container {
        position: relative;
        width: 99.95vw;
        left: 38vw;
        top: -30vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 20vw;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100%;
        text-align: center;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: rgb(255, 255, 255);
        width: 50vw;
        height: 50vw;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        z-index: 10;
    }

    .swiper-button-next {
        right: 1vw;
    }

    .swiper-button-prev {
        left: 1vw;
    }
}

.parallax {
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.parallax h1 {
    position: absolute;
    top: 37vw;
    left: 40vw;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 4.2vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    letter-spacing: 0.1vw;
}

@media (max-width: 901px) {

    .parallax h1 {
        position: absolute;
        top: 80vw;
        left: -2.2vw;
        color: rgb(255, 255, 255);
        font-size: 5.5vw;
        font-weight: bold;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
        text-shadow:
            0 0 15px rgba(255, 255, 255, 0.8),
            0 0 25px rgba(255, 255, 255, 0.6),
            0 0 35px rgba(255, 255, 255, 0.4);
        animation: floatText 3s infinite ease-in-out, blinkText 1.5s infinite alternate ease-in-out;

    }

    @keyframes floatText {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes blinkText {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.85;
        }
    }
}

.parallax2 {
    background-image: url('../Images/mule2.jpg');
    height: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax2 h1 {
    position: absolute;
    margin-left: 40vw;
    margin-top: 12.5vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .parallax2 {
        position: relative;
        height: 45vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parallax2 h1 {
        color: rgb(255, 255, 255);
        font-size: 10vw;
        font-weight: bold;
        font-family: "Eurostile", sans-serif;
        text-shadow:
            0 0 45px rgb(0, 0, 0),
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        margin-left: 6.75em;
        margin-top: 3.3em;
    }
}

.parallax3 {
    background-image: url('../Images/dog.jpg');
    height: 22vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax3 h1 {
    position: absolute;
    margin-left: 40vw;
    margin-top: 11vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .parallax3 {
        position: relative;
        height: 45vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parallax3 h1 {
        color: rgb(255, 255, 255);
        font-size: 11vw;
        font-weight: bold;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
        text-shadow:
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0),
            0 0 75px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        margin-left: 5.2em;
        margin-top: 4em;
    }
}

.parallax4 {
    background-image: url('../Images/NossaLocalizacao.png');
    height: 22vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4vw;
}

.parallax4 h1 {
    position: absolute;
    margin-left: 40vw;
    margin-top: 11.5vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .parallax4 {
        position: relative;
        height: 45vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parallax4 h1 {
        color: rgb(255, 255, 255);
        font-size: 11vw;
        font-weight: bold;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
        text-shadow:
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0),
            0 0 75px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        margin-left: 5.2em;
        margin-top: 4em;
    }
}

.sobre {
    background-image: url('../Images/bg_sobre.png');
    height: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sobre h1 {
    margin-left: 40vw;
    margin-top: 12.5vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5.2vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    text-shadow:
        0 0 25px rgba(255, 255, 255, 0.8),
        0 0 35px rgba(255, 255, 255, 0.6),
        0 0 45px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .sobre {
        position: relative;
        background-image: url('../Images/bg_sobre45.png');
        height: 55vw;
        margin-top: 90vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sobre h1 {
        color: rgb(255, 255, 255);
        font-size: 11.5vw;
        font-weight: bold;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
        text-shadow:
            0 0 45px rgb(0, 0, 0),
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        white-space: nowrap;
        margin-left: 6.75em;
        margin-top: 1.3em;
    }
}

/* Painel Par */
.panelPar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 5vw;
    margin: 5vw auto;
    margin-right: 2vw;
    width: 70vw;
    transform: translateX(10vw);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    flex-direction: row-reverse;
}

.panelPar img {
    width: 42vw;
    height: 20vw;
    border-radius: 2vw;
    margin-top: 5vw;
}

.panelPar.visible {
    opacity: 1;
    transform: translateX(0);
}

.panelPar .text h3 {
    font-size: 2.3vw;
    margin-top: 4.1vw;
    margin-right: 2vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
}

.panelPar .text p {
    font-size: 1.2vw;
    opacity: 70%;
    margin-top: 2.5vw;
    margin-right: 2vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
}

@media (max-width: 900px) {
    .panelPar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 5vw;
        width: 80vw;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 13vw;
        opacity: 0.13;
        transform: translateY(40px);
    }

    .panelPar.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .panelPar img {
        position: relative;
        width: 58vw;
        height: 45vw;
        border-radius: 2vw;
        margin-top: 5vw;
    }

    .panelPar .text {
        margin-top: 3vw;
    }

    .panelPar .text h3 {
        font-size: 5vw;
        margin-top: 2.5vw;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
    }

    .panelPar .text p {
        font-size: 4vw;
        opacity: 70%;
        margin-top: 2vw;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
    }
}


/* Painel Impar */
.panelImpar {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5vw;
    margin: 5vw auto;
    margin-left: 2vw;
    width: 65vw;
    transform: translateX(-10vw);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.panelImpar img {
    width: 42vw;
    height: 20vw;
    border-radius: 2vw;
    margin-top: 5vw;
}

.panelImpar.visible {
    opacity: 1;
    transform: translateX(0);
}

.panelImpar .text h3 {
    font-size: 2.3vw;
    margin-top: 2.5vw;
    margin-left: 2vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
}

.panelImpar .text p {
    font-size: 1.2vw;
    opacity: 70%;
    margin-top: 2.5vw;
    margin-left: 2vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
}

@media (max-width: 900px) {
    .panelImpar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 5vw;
        width: 80vw;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 13vw;
        opacity: 0.13;
        transform: translateY(40px);
    }

    .panelImpar.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .panelImpar img {
        position: relative;
        width: 58vw;
        height: 45vw;
        border-radius: 2vw;
        margin-top: 5vw;
    }

    .panelImpar .text {
        margin-top: 3vw;
    }

    .panelImpar .text h3 {
        font-size: 5vw;
        margin-top: 2.5vw;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
    }

    .panelImpar .text p {
        font-size: 4vw;
        opacity: 70%;
        margin-top: 2vw;
    }
}

.containerSquares {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.column {
    margin-bottom: 6vw;
    width: 80vw;
}

.column h2 {
    font-size: 2.5vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    margin-bottom: 3vw;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 1vw;
    margin-top: 2vw;
    text-align: left;
    padding-left: 2vw;
}

.column03 h2 {
    font-size: 3.7vw;
    padding-left: 3.7vw;
}

.square-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.7vw 9vw;
    padding: 1vw 3vw;
}

.itemSquare {
    display: flex;
    align-items: flex-start;
}

.square {
    width: 13vw;
    height: 15vw;
    background-color: #534541c4;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.square:hover {
    transform: translateY(-10px) rotate(7deg) scale(1.2);
    background-color: #2bc9ce00;
}

.square:hover img {
    opacity: 1;
}

.square:hover span {
    opacity: 0;
}

.textSquares {
    color: #ffffffcc;
    padding: 1.5vw 0vw 4.5vw 3vw;
    width: 18vw;
    margin-left: -2vw;
}

.textSquares h3 {
    font-size: 1.5vw;
    margin: 0 0 0.7vw 0;
    white-space: nowrap;
}

.textSquares p {
    font-size: 0.85vw;
}

.textSquares button {
    margin-top: 5vw;
    padding: 0.6vw 1.2vw;
    font-size: 1vw;
    border-radius: 1.5vw;
    border: none;
    background-color: #f2f7f2c5;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.textSquares button:hover {
    background-color: #aaff00;
}

.sectionHeader {
    position: sticky;
    top: 0;
    background-color: #302f2f8f;
    z-index: 10;
    padding-top: 4.5vw;
  }
  
  .sectionHeader h2 {
    font-size: 2.5vw;
    font-family: "Merriweather", serif;
    letter-spacing: 0.13vw;
    margin-bottom: 3vw;
    border-bottom: 0.5vw solid #ffffff;
    padding-bottom: 0.5vw;
    padding-left: 2vw;
    margin-top: 0;
  }

@media (max-width: 900px) {
    .containerSquares {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        margin-left: 1.95em;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .column01 {
        width: 92%;
        margin-bottom: 7em;
    }

    .column02 {
        width: 92%;
        margin-bottom: 6em;
    }

    .column03 {
        width: 92%;
        margin-bottom: 5em;
    }

    .column04 {
        width: 92%;
        margin-bottom: 1.7em;
    }

    .column01 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column02 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column03 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column04 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .square-grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 5vw;
        justify-content: center;
    }

    .square {
        position: relative;
        overflow: hidden;
        width: 30vw;
        height: 30vw;
        background-color: #ff5733;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        border-radius: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.orcamento-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30vw;
    padding: 2vw;
    justify-content: center;
    margin-left: 44vw;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.822);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.orcamento-title {
    position: absolute;
    margin-left: 40vw;
    margin-top: 10vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4.4vw;
    font-weight: bold;
    font-family: "Merriweather", serif;
    letter-spacing: 0.11vw;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

.orcamento-form {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 18vw;
    margin-bottom: 3.5vw;
    margin-top: 1vw;
}

.orcamento-form input,
.orcamento-form select,
.orcamento-form textarea {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.7vw;
    padding: 0.7vw;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    margin-top: 0.5vw;
}

.orcamento-form input {
    height: 2.4vw;
}

.orcamento-form textarea {
    height: 7vw;
    margin-top: 2vw;
}

.orcamento-form input:focus,
.orcamento-form select:focus,
.orcamento-form textarea:focus {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 5px 5px 15px #969696, -5px -5px 15px #ffffff;
}

.orcamento-form h2 {
    font-size: 2vw;
    white-space: nowrap;
    font-family: "Merriweather", serif;
    font-style: italic;
    letter-spacing: 0.11vw;
    margin-left: -2.8vw;
    padding-bottom: 2vw;
    color: #0072b1;
    position: relative;
    display: inline-block;
}

.orcamento-form h2::after {
    content: "";
    position: absolute;
    left: 0.2vw;
    bottom: 0.9vw;
    width: 110%;
    height: 1px;
    background-color: #0072b1;
}

.buttonOrcamento {
    position: relative;
    font-size: 1.2vw;
    padding: 0.7em 1.4em;
    background-color: #10da31c9;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #ffffff;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 2vw;
}

.buttonOrcamento::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(238, 235, 235) 0%, rgb(223, 217, 217) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 60%);
    border-radius: 0.5em 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.buttonOrcamento:hover::before {
    width: 1.6em;
    height: 1.6em;
}

.buttonOrcamento:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}

@media (max-width: 900px) {
    .orcamento-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5vw;
        margin-top: 3vw;
    }

    .orcamento-title {
        position: static;
        text-align: center;
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    .orcamento-form {
        width: 80%;
        gap: 3vw;
        margin-bottom: 8vw;
    }

    .orcamento-form input,
    .orcamento-form textarea {
        width: 100%;
        padding: 4vw;
        border-radius: 2.5vw;
        font-size: 4vw;
    }

    .orcamento-form input {
        height: 10vw;
    }

    .orcamento-form textarea {
        height: 20vw;
        margin-top: 4.5vw;
    }

    .buttonOrcamento {
        font-size: 5vw;
        padding: 3vw 5vw;
        border-radius: 1.5vw;
        margin-top: 10vw;
    }
}

@media (min-width: 901px) {
    .trinta {
        display: none;
    }
}

@media (max-width: 901px) {
    .trinta {
        position: absolute;
        color: #000000;
        font-size: larger;
        width: 85vw;
        height: 85vw;
        z-index: 5;
        margin-top: 110vw;
        left: -2.9vw;
    }

    .trinta h1 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 5vw;
        left: 1.1vw;
        font-weight: bold;
        font-family: "Merriweather", serif;
        letter-spacing: 0.11vw;
        text-shadow:
            0 0 15px rgba(255, 255, 255, 0.8),
            0 0 25px rgba(255, 255, 255, 0.6),
            0 0 35px rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        animation: floatText 3s infinite ease-in-out, blinkText 1.5s infinite alternate ease-in-out;
    }

    @keyframes floatText {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes blinkText {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.85;
        }
    }
}

@media (max-width: 901px) {

    .arrow-container {
        position: absolute;
        left: 50%;
        top: 150vw;
        bottom: 20px;
        transform: translateX(-50%);
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid white;
        animation: floatTextArrow 3s infinite ease-in-out, blinkTextArrow 1.5s infinite alternate ease-in-out;
    }

    @keyframes floatTextArrow {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-30px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes blinkTextArrow {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.85;
        }
    }
}

.loader {
    width: 15vw;
    height: 15vw;
    position: absolute;
    transform: rotate(45deg);
    top: 89.67%;
    left: 14.3vw;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 0.8vw at 50% 50%, #0000 94%, #ff4747);
    height: 3vw;
    width: 3vw;
}

.loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

.map-container {
    width: 32vw;
    height: 23vw;
    border: 0.3vw solid #4a90e2;
    border-radius: 2vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: -30.65vw;
    margin-bottom: 10vw;
    margin-left: 46vw;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.map-container img {
    position: absolute;
    width: 8vw;
    height: 8vw;
    left: 58.5vw;
    top: 85.975%;

}

.location {
    width: 40vw;
    height: 30vw;
    margin: 5.9vw;
    background-color: #f7fbff;
    border: 0.3vw solid #4a90e2;
    border-radius: 2vw;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-left: 1.7vw;
}

.location h1 {
    font-size: 2.7vw;
    margin-bottom: 2.5vw;
    color: #4a90e2;
    border-bottom: 2px solid #e3f0ff;
    display: inline-block;
    margin-top: 1.8vw;
    margin-left: 1.19vw;
}

.location p {
    font-size: 1.1vw;
    line-height: 1.6;
    width: 35vw;
    margin-left: 2.2vw;
}

.location strong {
    color: #4a90e2;
}

.location em {
    font-style: normal;
    color: #f15a24;
    font-weight: 500;
}

.horario {
    margin-top: 0.9vw;
    padding-top: 0.7vw;
    border-top: 0.05vw solid #e3f0ff;
    font-size: 0.7vw;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgba(238, 238, 238, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 0.55vw rgba(0, 0, 0, 0.055);
    position: absolute;
    bottom: 10.5vw;
    left: 3.5vw;
}

/* for all social containers*/
.socialContainer {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    background-color: rgb(32, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    position: absolute;
    left: 0.7vw;
}

.containerOne {
    top: 3vw;
}

.containerTwo {
    top: 11.98vw;
}

.containerThree {
    top: 20.3vw;
}

.containerFour {
    top: 28.6vw;
}

.contactTextI,
.contactTextE,
.contactTextL,
.contactTextW {
    color: white;
    font-family: "Merriweather", serif;
    width: 30vw;
    font-size: 0.9vw;
    padding: 1.03vw;
    margin-left: 6vw;
    margin-top: 1.3vw;
}

.contactTextI h2,
.contactTextE h2,
.contactTextL h2,
.contactTextW h2 {
    font-size: 1.7vw;
    margin-bottom: 0.85vw;
    font-family: "Merriweather", serif;
}

.contactTextI h2 {
    color: #d62976;
}

.contactTextE h2 {
    color: #00bcdd;
}

.contactTextL h2 {
    color: #1c7bd3;
}

.contactTextW h2 {
    color: #27c421c7;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00bcdd;
    transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0159ac;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #27c421c7;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 1.8vw;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.back01 {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.452);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    width: 99.45vw;
    height: 760vw;
    z-index: -50200;
    left: -10vw;
    top: 10.5vw;
}