/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#bg-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 900px) {
    #bg-video {
        display: none;
    }
}

@font-face {
    font-family: "Eurostile";
    src: url("fonts/14511.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 20px;
    background: transparent;
    transition: background 0.5s ease-in-out;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #52a4ca;
}

.menu-toggle {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20%;
}

@media (max-width: 1200px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: transparent;
        padding: 10px 0;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* Efeito no Scroll */
.header.scrolled {
    background: rgba(34, 29, 29, 0.8);
}

@media (max-width: 1200px) {
    .header.scrolled {
        background: transparent;
    }
}

.footer {
    background-color: #0f0206;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
}

.footer-links li a {
    margin: 0 15px;
}

.fixed-logo {
    width: 6.8vw;
    height: 6.8vw;
    position: fixed;
    bottom: 2.65vw;
    right: 2.65vw;
    z-index: 100;
    cursor: pointer;
}

.scrolling-logo {
    width: 9vw;
    height: 9vw;
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    z-index: 99;
}

@media (max-width: 1200px) {
    .fixed-logo {
        width: 13vw;
        height: 13vw;
        position: fixed;
        bottom: 3.5vw;
        right: 3.5vw;
        z-index: 100;
    }

    .scrolling-logo {
        width: 17vw;
        height: 17vw;
        position: fixed;
        bottom: 1.5vw;
        right: 1.5vw;
        z-index: 99;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .fixed-logo {
        width: 8.6vw;
        height: 8.6vw;
        position: fixed;
        bottom: 2.7vw;
        right: 2.7vw;
        z-index: 100;
    }

    .scrolling-logo {
        width: 11vw;
        height: 11vw;
        position: fixed;
        bottom: 1.5vw;
        right: 1.5vw;
        z-index: 99;
    }
}

.swiper-container {
    position: absolute;
    width: 75vw;
    overflow: hidden;
    margin-left: 2.41vw;
    margin-top: 3vw;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 255, 255);
    width: 50vw;
    height: 50vw;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 10;
}

.swiper-button-next {
    right: 10vw;
}

.swiper-button-prev {
    left: 10vw;
}

@media (max-width: 900px) {
    .swiper-container {
        position: relative;
        width: 99vw;
        left: 48%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 20vw;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100%;
        text-align: center;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: rgb(255, 255, 255);
        width: 50vw;
        height: 50vw;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        z-index: 10;
    }

    .swiper-button-next {
        right: 1vw;
    }

    .swiper-button-prev {
        left: 1vw;
    }
}

.parallax {
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.parallax h1 {
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 4.2vw;
    font-weight: bold;
    font-family: "Eurostile", sans-serif;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
    opacity: 0;
    padding: 10px 20px;
    border-radius: 10px;
    animation:
        fadeInUp 1.5s ease-out forwards,
        fadeOut 1s ease-out forwards 3s;
}

@media (max-width: 901px) {
    .parallax {
        position: relative;
        background-image: none;
        background-color: transparent;
        height: 10vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .parallax h1 {
        position: relative;
        top: 65vw;
        left: 1vw;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        font-size: 7vw;
        font-weight: bold;
        font-family: "Eurostile", sans-serif;
        text-shadow:
            0 0 15px rgba(255, 255, 255, 0.8),
            0 0 25px rgba(255, 255, 255, 0.6),
            0 0 35px rgba(255, 255, 255, 0.4);
        opacity: 0;
        border-radius: 10px;
        animation:
            fadeInUp 1.5s ease-out forwards,
            fadeOut 1s ease-out forwards 3s;
    }
}

.parallax2 {
    background-image: url('../Images/mule2.jpg');
    height: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax2 h1 {
    position: absolute;
    margin-left: 40vw;
    margin-top: 10vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: bold;
    font-family: "Eurostile", sans-serif;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .parallax2 {
        position: relative;
        height: 45vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parallax2 h1 {
        color: rgb(255, 255, 255);
        font-size: 10vw;
        font-weight: bold;
        font-family: "Eurostile", sans-serif;
        text-shadow:
            0 0 45px rgb(0, 0, 0),
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        margin-left: 6.75em;
        margin-top: 3.3em;
    }
}

.parallax3 {
    background-image: url('../Images/dog.jpg');
    height: 18vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax3 h1 {
    position: absolute;
    margin-left: 40vw;
    margin-top: 10vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: bold;
    font-family: "Eurostile", sans-serif;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .parallax3 {
        position: relative;
        height: 45vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parallax3 h1 {
        color: rgb(255, 255, 255);
        font-size: 11vw;
        font-weight: bold;
        font-family: "Eurostile", sans-serif;
        text-shadow:
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0),
            0 0 75px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        margin-left: 5.2em;
        margin-top: 4em;
    }
}

.sobre {
    background-image: url('../Images/bg_sobre.png');
    height: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sobre h1 {
    margin-left: 40vw;
    margin-top: 10vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5.2vw;
    font-weight: bold;
    font-family: "Eurostile", sans-serif;
    text-shadow:
        0 0 25px rgba(255, 255, 255, 0.8),
        0 0 35px rgba(255, 255, 255, 0.6),
        0 0 45px rgba(255, 255, 255, 0.4);
}

@media (max-width: 900px) {
    .sobre {
        position: relative;
        background-image: url('../Images/bg_sobre45.png');
        height: 45vw;
        margin-top: 110vw;
        width: 98vw;
        left: 50%;
        top: 5vw;
        transform: translateX(-50%);
        overflow: hidden;
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sobre h1 {
        color: rgb(255, 255, 255);
        font-size: 11.5vw;
        font-weight: bold;
        font-family: "Eurostile", sans-serif;
        text-shadow:
            0 0 45px rgb(0, 0, 0),
            0 0 55px rgb(0, 0, 0),
            0 0 65px rgb(0, 0, 0);
        width: auto;
        text-align: center;
        white-space: nowrap;
        margin-left: 6.75em;
        margin-top: 1.3em;
    }
}

/* Painel Par */
.panelPar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 5vw;
    margin: 5vw auto;
    margin-right: 5vw;
    width: 50vw;
    transform: translateX(10vw);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    flex-direction: row-reverse;
}

.panelPar img {
    width: 27vw;
    height: 22vw;
    border-radius: 2vw;
    margin-top: 5vw;
}

.panelPar.visible {
    opacity: 1;
    transform: translateX(0);
}

.panelPar .text h3 {
    font-size: 2.2vw;
    margin-top: 2.5vw;
    margin-right: 2vw;
    font-family: "Eurostile", sans-serif;
}

.panelPar .text p {
    font-size: 1.3vw;
    opacity: 70%;
    margin-top: 2.5vw;
    margin-right: 2vw;
}

@media (max-width: 900px) {
    .panelPar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 5vw;
        width: 80vw;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 13vw;
        opacity: 0.13;
        transform: translateY(40px);
    }

    .panelPar.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .panelPar img {
        position: relative;
        width: 58vw;
        height: 45vw;
        border-radius: 2vw;
        margin-top: 5vw;
    }

    .panelPar .text {
        margin-top: 3vw;
    }

    .panelPar .text h3 {
        font-size: 5vw;
        margin-top: 2.5vw;
        font-family: "Eurostile", sans-serif;
    }

    .panelPar .text p {
        font-size: 4vw;
        opacity: 70%;
        margin-top: 2vw;
    }
}


/* Painel Impar */
.panelImpar {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5vw;
    margin: 5vw auto;
    margin-left: 5vw;
    width: 50vw;
    transform: translateX(-10vw);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.panelImpar img {
    width: 27vw;
    height: 22vw;
    border-radius: 2vw;
    margin-top: 5vw;
}

.panelImpar.visible {
    opacity: 1;
    transform: translateX(0);
}

.panelImpar .text h3 {
    font-size: 2.2vw;
    margin-top: 2.5vw;
    margin-left: 2vw;
    font-family: "Eurostile", sans-serif;
}

.panelImpar .text p {
    font-size: 1.3vw;
    opacity: 70%;
    margin-top: 2.5vw;
    margin-left: 2vw;
}

@media (max-width: 900px) {
    .panelImpar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 5vw;
        width: 80vw;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 13vw;
        opacity: 0.13;
        transform: translateY(40px);
    }

    .panelImpar.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .panelImpar img {
        position: relative;
        width: 58vw;
        height: 45vw;
        border-radius: 2vw;
        margin-top: 5vw;
    }

    .panelImpar .text {
        margin-top: 3vw;
    }

    .panelImpar .text h3 {
        font-size: 5vw;
        margin-top: 2.5vw;
        font-family: "Eurostile", sans-serif;
    }

    .panelImpar .text p {
        font-size: 4vw;
        opacity: 70%;
        margin-top: 2vw;
    }
}

.containerSquares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    margin-left: 10.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.column01 {
    text-align: center;
    width: 70%;
    margin-bottom: 2vw;
}

.column01 h2 {
    font-size: 2.1vw;
    font-family: "Eurostile", sans-serif;
    margin-bottom: 2vw;
}

.column02 {
    text-align: center;
    width: 70%;
    margin-bottom: 2vw;
}

.column02 h2 {
    font-size: 2.1vw;
    font-family: "Eurostile", sans-serif;
    margin-bottom: 2vw;
}

.column03 {
    text-align: center;
    width: 70%;
}

.column03 h2 {
    font-size: 2.1vw;
    font-family: "Eurostile", sans-serif;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.column04 {
    text-align: center;
    width: 70%;
}

.column04 h2 {
    font-size: 2.1vw;
    font-family: "Eurostile", sans-serif;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.square-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1vw;
    justify-content: center;
}

.square {
    position: relative;
    overflow: hidden;
    width: 7vw;
    height: 7vw;
    background-color: #ff5733;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.square:hover {
    transform: translateY(-10px) rotate(7deg) scale(1.3);
    background-color: #2bc8ce81;
}

.square:hover img {
    opacity: 1;
}

.square:hover span {
    opacity: 0;
}

@media (max-width: 900px) {
    .containerSquares {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        margin-left: 1.4em;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .column01 {
        width: 92%;
        margin-bottom: 7em;
    }

    .column02 {
        width: 92%;
        margin-bottom: 6em;
    }

    .column03 {
        width: 92%;
        margin-bottom: 5em;
    }

    .column04 {
        width: 92%;
        margin-bottom: 1.7em;
    }

    .column01 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column02 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column03 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .column04 h2 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .square-grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 5vw;
        justify-content: center;
    }

    .square {
        position: relative;
        overflow: hidden;
        width: 30vw;
        height: 30vw;
        background-color: #ff5733;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        border-radius: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.orcamento-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2vw;
    margin-top: 1.5vw;
    justify-content: center;
}

.orcamento-title {
    position: absolute;
    margin-left: 40vw;
    margin-top: 10vw;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4.4vw;
    font-weight: bold;
    font-family: "Eurostile", sans-serif;
    text-shadow:
        0 0 15px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.6),
        0 0 35px rgba(255, 255, 255, 0.4);
}

.orcamento-form {
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
    width: 20vw;
    margin-bottom: 5vw;
}

.orcamento-form input,
.orcamento-form textarea {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.7vw;
    padding: 0.7vw;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    margin-top: 0.5vw;
}

.orcamento-form input {
    height: 2.4vw;
}

.orcamento-form textarea {
    height: 7vw;
    margin-top: 2vw;
}

.orcamento-form input:focus,
.orcamento-form textarea:focus {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 5px 5px 15px #969696, -5px -5px 15px #ffffff;
}

button {
    position: relative;
    font-size: 1.2vw;
    padding: 0.7em 1.4em;
    background-color: #14ff3b60;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 2vw;
}

button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

button:hover::before {
    width: 1.6em;
    height: 1.6em;
}

button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}

@media (max-width: 900px) {
    .orcamento-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5vw;
        margin-top: 3vw;
    }

    .orcamento-title {
        position: static;
        text-align: center;
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    .orcamento-form {
        width: 80%;
        gap: 3vw;
        margin-bottom: 8vw;
    }

    .orcamento-form input,
    .orcamento-form textarea {
        width: 100%;
        padding: 4vw;
        border-radius: 2.5vw;
        font-size: 4vw;
    }

    .orcamento-form input {
        height: 10vw;
    }

    .orcamento-form textarea {
        height: 20vw;
        margin-top: 4.5vw;
    }

    button {
        font-size: 5vw;
        padding: 3vw 5vw;
        border-radius: 1.5vw;
        margin-top: 10vw;
    }
}